<div class="modal fade" id="modifsubgroupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Option SubGroup</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formSubGroup" (ngSubmit)="saveSubGroup()">
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Name" formControlName="inputSubGroupName">
            </div>
            <div class="mb-3">
              <label for="inputMembers" class="form-label">Select Members</label>
              <select class="form-select" id="inputMembers" formControlName="inputMembers" multiple>
                <option *ngFor="let member of members" [value]="member.id">
                  {{ member.username }}
                </option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="close" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!formSubGroup.valid">Save</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteSubGroup()">Delete</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>