<div class="text-center mt-4 ">
  <h3>Hello {{ user.username }} !</h3>
  <div class="border profile-container container p-5 mt-2">
    <div class="text-start myContainer pt-2 align-self-center">
      <div class="yourName">
        Your username
        <br>
          <input type="text" class="form-control" value="{{ user.username }}" [readonly]="!isEditable">
      </div>
      <div class="yourEmail">
        Your email
        <br>
        <input type="text" class="form-control" value="{{ user.email }}" [readonly]="!isEditable">
      </div>
    </div>
    <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Change my password</button>
    <button class="btn btn-primary mt-3" (click)="toggleEdit()">
      {{ isEditable ? 'Save' : 'Modify my profile' }}
    </button>
  </div>
</div>
<app-modal-confirm-old-password [user]="user"></app-modal-confirm-old-password>
