table {
  /*width: 100%;*/
  /*table-layout: fixed;*/
}
.group-row{
  background-color: #c50000;
}

.group-row:hover {
  background-color: #dedede;
  cursor: pointer;
}
.expanded-rows td {

}

button {
  color: white;
  background-color: #FFA62B;
}
