<div>
  My groups :
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Name of the group</th>
    <th scope="col">Members</th>
    <th scope="col">SubGroups</th>
    <th scope="col">Forms</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  @for (group of myGroups; track group.id; let i=$index) {


<!--    start of modal-->
<app-modal-sub-group [group]="group"></app-modal-sub-group>
<!--    end of modal-->

    <tr (click)="toggleExpand(group.id)" class="group-row">
      <th scope="row">{{group.id}}</th>
      <td>{{ group.name }}</td>
      <td>{{ group.members.length }}</td>
      <td>{{ group.subGroups.length }}</td>
      <td></td>
      <td>
        {{ isExpanded(group.id) ? '-' : '+' }}
      </td>
    </tr>
      @if(isExpanded(group.id)) {
        <tr class="expanded-rows">
          <td></td>
          <td>
            expanded row
          </td>
          <td>
            @for (membre of group.members; track membre.id; let i=$index) {
              <div>
                - {{membre.username}}
              </div>
            }
          </td>
          <td class="subGroup">
            @for (subGroup of group.subGroups; track subGroup.id; let i=$index) {
            <app-subgroup [subGroup]="subGroup"></app-subgroup>
            }
            <button class="btn" data-bs-toggle="modal" data-bs-target="#subgroupModal">Add subGroup</button>
          </td>
          <td></td>
          <td></td>
        </tr>
      }
    }
  </tbody>
</table>

<button type="button" class="btn" (click)="createGroup()">Créer un group</button>

<router-outlet></router-outlet>




