
.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .text-primary {
    color: #16697A !important; 
  }
  

  .table {
    background-color: #EDE7E3;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .table-light {
    background-color: #F8F9FA !important;
  }
  
  .table th, .table td {
    vertical-align: middle;
    text-align: center;
    padding: 12px 15px;
  }
  
  .table-hover tbody tr:hover {
    background-color: #82C0CC;
  }
  

  .btn {
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-warning {
    background-color: #FFA62B;
    color: #fff;
  }
  
  .btn-danger {
    background-color: #FF4D4D;
    color: #fff;
  }
  
  .btn-warning:hover {
    background-color: #FFA62B;
    opacity: 0.8;
  }
  
  .btn-danger:hover {
    background-color: #FF4D4D;
    opacity: 0.8;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    background-color: #489FB5; 
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid #489FB5;
    font-size: 14px;
  }
  
  .page-link:hover {
    background-color: #82C0CC;
  }
  
  .page-item.disabled .page-link {
    background-color: #EDE7E3; 
    color: #A0A0A0; 
    cursor: not-allowed;
  }
  
  .page-item.active .page-link {
    background-color: #16697A;
    font-weight: bold;
  }
  