.custom-navbar {
    background-color: #16697A !important;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-link:hover {
    background-color: #EDE7E3;
    border-radius: 5px;
    color: #16697A !important;
}

.btn {
    color: white; /* Texte blanc */
    background-color: transparent; /* Fond transparent */
    border: none; /* Pas de bordure */
}

.btn:hover {
    background-color: #EDE7E3; /* Fond au survol */
    border-color: #EDE7E3; /* Bordure au survol */
    color: #16697A; /* Texte couleur au survol */
}

.btn:focus, .btn:active {
    outline: none; /* Retirer le contour par défaut */
    box-shadow: none; /* Retirer l'ombre par défaut au focus */
}
