<div class="modal fade" id="groupSettingsModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="groupSettingsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="groupSettingsModalLabel">Group Settings</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formGroup">
            <label for="name" class="">Group Name: </label>
            <br>
            <input type="text" id="name" formControlName="inputName" class="form-control mb-3">
            
            <label for="members" class="">Members: </label>
            <div class="form-control d-flex flex-wrap align-items-center" id="email-container">
              <span *ngFor="let email of emailList; let i = index" class="badge badge-primary me-2">
                {{ email }}
                <button type="button" class="btn-close btn-sm ms-1" aria-label="Close" (click)="removeEmail(i)">
                </button>
              </span>
            </div>
            <br>
            <button type="button" class="btn invite-button mb-3" data-bs-toggle="modal" data-bs-target="#inviteModal">Invite members</button>
            
            <div class="mb-3">
              <label for="formFile" class="form-label">Import a CSV file:</label>
              <input class="form-control form-control-sm" type="file" id="formFile">
            </div>
          </form>
          
          <div class="d-flex justify-content-between mt-4">
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn save-changes-button" data-bs-dismiss="modal" (click)="saveGroup()">Save Changes</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteGroup()">Delete Group</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <app-modal-invite-members (emailEmitter)="addEmail($event)"></app-modal-invite-members>
