
<div class="container mt-5">

    <div *ngFor="let answerSummarize of mapAnswerSummarize | keyvalue " class="mb-4">
        <div class="card shadow-sm">
            <div class="card-header question-header">      
                <h5 class="mb-0">{{ answerSummarize.key.inputQuestion }}</h5>
            </div>

    <div class="card-body"> 


        <!-- if the type of question is multiple choice or checkbox-->
        <div *ngIf="answerSummarize.key.inputTypeQuestion==='Multiple choice' || answerSummarize.key.inputTypeQuestion==='Checkbox'">
            <!-- verifie if there is answers to the questions, if not, see the templore noAnswer-->
            <ng-container *ngIf="answerSummarize.value  && answerSummarize.value.length > 0; else noAnswer">
                <ul class="list-group">
                <div *ngFor="let countofAnswer of answerSummarize.value; let index=index"  class="d-flex justify-content-between mb-2 list-group-item" >
                     <span class="fw-bold">{{ answerSummarize.key.inputChoices[index] }}</span>
                     <span class="badge bg-secondary">{{ countofAnswer}}</span>
                  </div>
                </ul>
            </ng-container>
            <!-- if no one has answered the question -->
            <ng-template #noAnswer>
                <p class="text-muted fst-italic">No answer available.</p>
              </ng-template> 
        </div>

        <!-- if the type of question is a color question, to show the real colors of the forms-->
        <div *ngIf="answerSummarize.key.inputTypeQuestion =='Color question'">
            <!-- verifie if there is answers to the questions, if not, see the templore noAnswer-->
            <ng-container *ngIf="answerSummarize.value && answerSummarize.value.length > 0; else noAnswer">
                <div class="d-flex flex-wrap">
                <div class="me-2 mb-2">
                    <div *ngFor="let value of answerSummarize.value" [style.backgroundColor]="value" class="p-2 border rounded"> 
                        {{ value }} 
                    </div>
                </div>
                </div>
            </ng-container>
            <!-- if no one has answered the question -->
            <ng-template #noAnswer>
                <p class="text-muted fst-italic">No answer available.</p>
              </ng-template>
            </div>

            <!-- if the type of question is a map question, to show the map with all the coordinates-->
        <div *ngIf="answerSummarize.key.inputTypeQuestion =='Ask coordonates'">
            <!-- verifie if there is answers to the questions, if not, see the templore noAnswer-->
            <ng-container *ngIf="answerSummarize.value && answerSummarize.value.length > 0; else noAnswer">
                <app-map-answers [answersCoordinates]="answerSummarize.value"> </app-map-answers>
            </ng-container>
            <!-- if no one has answered the question -->
            <ng-template #noAnswer>
                <p class="text-muted fst-italic">No answer available.</p>
              </ng-template>
            </div>

        <!-- if the type of question is everything except checkbox or multiple choice, then, the answer will be as shown below-->
        <div *ngIf="answerSummarize.key.inputTypeQuestion !=='Checkbox' && answerSummarize.key.inputTypeQuestion !=='Multiple choice' 
        && answerSummarize.key.inputTypeQuestion !=='Color question' && answerSummarize.key.inputTypeQuestion !=='Ask coordonates'">
        <!-- verifie if there is answers to the questions, if not, see the templore noAnswer-->
        <ng-container *ngIf="answerSummarize.value && answerSummarize.value.length > 0; else noAnswer">
            <div *ngIf="answerSummarize.key.inputTypeQuestion =='Range question'" class="mb-3"> 
                <p class="text-muted">
                    <span class="fw-bold">Minimum value:</span> {{ minValue(answerSummarize.value) }}<br>
                    <span class="fw-bold">Maximum value:</span> {{ Maxvalue(answerSummarize.value) }}<br>
                    <span class="fw-bold">Average value:</span> {{ AverageValue(answerSummarize.value) }}
                </p>
            </div>
            <ul class="list-group">
                <li *ngFor="let value of answerSummarize.value" class="list-group-item"> 
                    <div [ngSwitch]="answerSummarize.key.inputTypeQuestion">
                        <p *ngSwitchCase="'Date question'"> {{ value | date}} </p>
                        <p *ngSwitchCase="'Date and time question'"> {{ value | date : "MMM dd, yyyy HH:mm "}} </p>
                        <p *ngSwitchCase="'Month question'"> {{ value | date : "MMMM yyyy"}} </p>
                        <p *ngSwitchCase="'Range question'"> {{value}} </p>
                        <p *ngSwitchDefault> {{ value}} </p>
                    </div>
                </li>
            </ul>
        </ng-container>
        <!-- if no one has answered the question -->
        <ng-template #noAnswer>
            <p class="text-muted fst-italic">No answer available.</p>
          </ng-template>
        </div>

        </div>
        </div>
    </div>
</div>
