.form-select {
    white-space: nowrap; /* Empêche les lignes de se casser */
    overflow-x: auto;   /* Active le défilement horizontal si nécessaire */
    display: block;     /* Garantit que le conteneur respecte la largeur totale */
    max-width: 100%;    /* Facultatif : limite la largeur maximale */
}

.question-header {
    background-color: #16697A;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 0.25rem 0.25rem 0 0; /* Coins arrondis pour le haut de la carte */
}