
<div class="container mt-5">

    <div *ngFor="let answerSummarize of mapAnswerSummarize | keyvalue " class="align-items-center">
        <label> {{ answerSummarize.key.inputQuestion }} </label>

        <!-- if the type of question is multiple choice or checkbox-->
        <div *ngIf="answerSummarize.key.inputTypeQuestion==='Multiple choice' || answerSummarize.key.inputTypeQuestion==='Checkbox'">
            <!-- verifie if there is answers to the questions, if not, see the templore noAnswer-->
            <ng-container *ngIf="answerSummarize.value  && answerSummarize.value.length > 0; else noAnswer"> 
                <div *ngFor="let countofAnswer of answerSummarize.value; let index=index">
                    <div class="d-flex justify-content-between">
                     <span>{{ answerSummarize.key.inputChoices[index] }}</span>
                     <span>{{ countofAnswer}}</span>
                    </div>
                  </div>
            </ng-container>
            <!-- if no one has answered the question -->
            <ng-template #noAnswer>
                <p>No answer</p>
              </ng-template> 
        </div>

        <!-- if the type of question is a color question, to show the real colors of the forms-->
        <div *ngIf="answerSummarize.key.inputTypeQuestion =='Color question'">
            <!-- verifie if there is answers to the questions, if not, see the templore noAnswer-->
            <ng-container *ngIf="answerSummarize.value && answerSummarize.value.length > 0; else noAnswer">
                <select class="form-select" multiple [disabled]="true">
                    <option *ngFor="let value of answerSummarize.value" [style.backgroundColor]="value"> {{ value }} 
                    </option>
                </select>
            </ng-container>
            <!-- if no one has answered the question -->
            <ng-template #noAnswer>
                <p>No answer</p>
              </ng-template>
            </div>

            <!-- if the type of question is a map question, to show the map with all the coordinates-->
        <div *ngIf="answerSummarize.key.inputTypeQuestion =='Ask coordonates'">
            <!-- verifie if there is answers to the questions, if not, see the templore noAnswer-->
            <ng-container *ngIf="answerSummarize.value && answerSummarize.value.length > 0; else noAnswer">
                <app-map-answers [answersCoordinates]="answerSummarize.value"> </app-map-answers>
            </ng-container>
            <!-- if no one has answered the question -->
            <ng-template #noAnswer>
                <p>No answer</p>
              </ng-template>
            </div>

        <!-- if the type of question is everything except checkbox or multiple choice, then, the answer will be as shown below-->
        <div *ngIf="answerSummarize.key.inputTypeQuestion !=='Checkbox' && answerSummarize.key.inputTypeQuestion !=='Multiple choice' 
        && answerSummarize.key.inputTypeQuestion !=='Color question' && answerSummarize.key.inputTypeQuestion !=='Ask coordonates'">
        <!-- verifie if there is answers to the questions, if not, see the templore noAnswer-->
        <ng-container *ngIf="answerSummarize.value && answerSummarize.value.length > 0; else noAnswer">
            <p *ngIf="answerSummarize.key.inputTypeQuestion =='Range question'"> 
                 minimum value : {{minValue(answerSummarize.value) }}  maximum value : {{Maxvalue(answerSummarize.value)}} Avegare value : {{AverageValue(answerSummarize.value)}} </p>
            <select class="form-select" multiple [disabled]="true">
                <option *ngFor="let value of answerSummarize.value"> 
                    <div [ngSwitch]="answerSummarize.key.inputTypeQuestion">
                        <p *ngSwitchCase="'Date question'"> {{ value | date}} </p>
                        <p *ngSwitchCase="'Date and time question'"> {{ value | date : "MMM dd, yyyy HH:mm "}} </p>
                        <p *ngSwitchCase="'Month question'"> {{ value | date : "MMMM yyyy"}} </p>
                        <p *ngSwitchCase="'Range question'"> {{value}} </p>
                        <p *ngSwitchDefault> {{ value}} </p>
                    </div>
                </option>
            </select>
        </ng-container>
        <!-- if no one has answered the question -->
        <ng-template #noAnswer>
            <p>No answer</p>
          </ng-template>
        </div>

    </div>
</div>

