.bouton {
    background-color:#FFA62B ;
        background-color: #FFA62B;
        color: white; 
        border: none; 
        padding: 8px 15px; 
        border-radius: 5px;
        font-size: 14px; 
        transition: background-color 0.3s ease; 
    
}

.bouton:hover {
    background-color: #cb891e;
  }
.question-container {
    border: 2px solid #16697A;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .custom-button {
    background-color: #16697A;
    border-color: #16697A;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
  }

  .custom-button:hover {
    background-color: #135e6c;
    border-color: #135e6c;
    transform: scale(1.05);
  }

  .custom-button:disabled {
    background-color: #9bbec5;
    border-color: #9bbec5;
  }
