<div class="container mt-5">
    <h1 class="mb-4">{{ title }}</h1>
  
    <form [formGroup]="formReply" (ngSubmit)="submit()" class="shadow p-4 rounded bg-light">
      <formly-form 
        [model]="model" 
        [fields]="fields" 
        [options]="options" 
        [form]="formReply"> 
        
        <!-- error -->
        <div *ngIf="formReply.invalid && formReply.touched" class="alert alert-danger">
          Please fill out all required fields.
        </div>
        
      </formly-form>
  
      <div class="d-flex justify-content-center align-items-center gap-3 mt-3">
        <button type="submit" class="btn btn-primary" [disabled]="!formReply.valid">Submit</button>
        <button type="button" class="btn bouton" (click)="navigate()"> back </button>
    </div>
    </form>
  </div>