<div class="container-fluid vh-100">
  <div class="row h-100">
    <!-- Barre latérale -->
    <div class="col-3 bg-light border-end">
      <h2 class="text-center mt-4">Admin Panel</h2>
      <div class="list-group mt-5">
        <button 
          class="list-group-item list-group-item-action" 
          [class.active]="activeView === 'users'"
          (click)="setActiveView('users')">
          Gérer les utilisateurs
        </button>
        <button 
          class="list-group-item list-group-item-action" 
          [class.active]="activeView === 'groups'"
          (click)="setActiveView('groups')">
          Gérer les groupes
        </button>
      </div>
    </div>

    <!-- Contenu central -->
    <div class="col-9">
      <div class="content-container p-4">
        <ng-container *ngIf="activeView === 'users'">
          <app-admin-user></app-admin-user>
        </ng-container>

        <ng-container *ngIf="activeView === 'groups'">
          <h3>Gestion des groupes</h3>
          <p>Ajoutez, modifiez ou supprimez des groupes ici.</p>
        </ng-container>
      </div>
    </div>
  </div>
</div>
